{% extends "base.html" %}
{% block title %}Pick the machines at the Pinballz PAPA Circuit Event{% endblock %}

{% block content %}

{% if form.errors %} <p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form role="form" class="form-inline" method="post" action="{% url 'django.contrib.auth.views.login' %}">

{% csrf_token %}
<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="id_username" class="control-label">Username</label>
            <input id="id_username" class="form-control" name="username" type="text" oldautocomplete="remove" autocomplete="off" autocapitalize="off" autocorrect="off">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="id_password" class="control-label">Password</label>
            <input id="id_password" class="form-control" name="password" type="password" oldautocomplete="remove" autocomplete="off" autocapitalize="off" autocorrect="off">
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <button type="submit" class="btn btn-default" value="login">Log in</button>
        </div>
    </div>
    <input type="hidden" name="next" value="/table/" />
</div>
</form>

{% endblock %}

