{% extends "base.html" %}

{% block title %}Pick the machines at the Pinballz PAPA Circuit Event{% endblock %}

{% block head %}
<style>
body {
    background-repeat: no-repeat;
    background-position: right top;
}
img.imgoverlay {
    position:absolute;
    left:10%;
    top:5%;
}

#pinecronomicon { 
    background-repeat: repeat-y;
    background-position: left;
}
#pinecronomicon { background-image: url('/static/img/pinecronomicon-sidebar-sm.jpg'); }
@media only screen and (min-width: 320px) {
    #pinecronomicon { 
        background-image: url('/static/img/pinecronomicon-sidebar-sm.jpg'); 
        padding: 0 20px;
    }
}
@media only screen and (min-width: 930px) {
    #pinecronomicon {
        background-image: url('/static/img/pinecronomicon-sidebar.jpg');
        padding: 0 100px;
    }
}
</style>
<script>
function refreshbets() {
    $.getJSON("/last5/",function (data) { 
        process(data);
    }); 
}

{% if user.is_authenticated %}
var in_tix_modal=false;
function refreshtix() {
    if (!in_tix_modal) {
        $.getJSON("/tickets/" + {{ user.id }}, function(data) {
            $("select[name=tickid]").children().remove();
            $.each(data, function (key, value) {
                $("select[name=tickid]").append($("<option></option>").attr("value",value.tickid).text("Ticket " + value.tickid+ " with " + value.value + " pinbucks left"));
            });
        });
    }
}
window.setInterval(refreshtix,10000);
{% endif %}
window.setInterval(refreshbets,10000);
$(document).ready(function () {
    $("#error").hide();
    refreshbets();
    {% if user.is_authenticated %}
        refreshtix();
    {% endif %}
    $('#betmodal').on('show', function () {
        in_tix_modal=true;
    });
    $('#betmodal').on('hidden', function () {
        in_tix_modal=false;
    });

    $('#position').change(function() {
        if ($(this).is(':checked')) {
            $('#odds').show();
            $('#rodds').hide();
            $('#against').hide();
        } else {
            $('#rodds').show();
            $('#odds').hide();
            $('#against').show();
        }
    });
    $('#betboom').on('click', function (e) {
        overlayhtml = "<img class='imgoverlay' src='/static/img/necronomicon.png' width=300px>"
        $("#imgoverlay").append(overlayhtml).fadeIn('slow');
        var delay=700;
        setTimeout(function () {
            $(".imgoverlay").fadeOut('slow', function() {
                $(".imgoverlay").remove();
            });
        }, delay);
    });
    $('#betForm').on('submit', function () {
        $.post('/bet/', $('#betForm').serialize(), function(data) {
            if (data.result) {
                $("#error").hide();
                overlayhtml = "<img class='imgoverlay' src='/static/img/necronomicon.png' width=300px>"
                $("#imgoverlay").append(overlayhtml).fadeIn('slow');
                var delay=700;
                setTimeout(function () {
                    refreshbets();
                    refreshtix();
                    $('input[name=comment]').val(undefined);
                    $(".imgoverlay").fadeOut('slow', function() {
                        $(".imgoverlay").remove();
                        $('#betmodal').modal('hide');
                    });
                }, delay);
            } else {
                $("#beterr").text(data.message);
                $("#error").show();
            }
        }, "json");
        return false;
    });

    $('#betbutton').on('click', function (e) {
        e.preventDefault();
        $('#betForm').submit();
    });

});
</script>
{% endblock %}
{% block content %}
<div id="pinecronomicon">
    <div class="container">
        <div class="row">
            <div id="loginholder" class="col-sm-12">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
            <h5>
            {% if user.is_authenticated %}
                <!-- <a href={% url 'django.contrib.auth.views.logout' %}>Log out</a> -->
                <a href=# onClick='$("#loginholder").load("/accounts/logout/");'>Log out</a>
            {% else %}
                <!-- <a href={% url 'django.contrib.auth.views.login' %}>Log in</a> -->
                <a href=# onClick='$("#loginholder").load("/accounts/login/ #content");'>Log in</a>
            {% endif %}
            </h5>
            </div>
            {% if not user.is_authenticated %}
            <div id="register" class="col-sm-1">
                <h5>
                    <!-- <a href={% url 'registration_register' %}>Register</a> -->
                <a href=# onClick='$("#loginholder").load("{% url 'registration_register' %} #content");'>Register</a>
                </h5>
            </div>
            {% endif %}
            <div id="status" class="col-sm-3">
            <h5>
            {% if user.is_authenticated %}
            Logged in as {{ user.username }}
            {% else %}
            <B>Not logged in</B>
            {% endif %}
            </h5>
             </div>
            <div id="tickets" class="col-sm-2">
            </div>


        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
            <h3>THE PINECRONOMICON'S GUIDE TO PINBALLZ</h3>
            <p>Because of the big tournament happening at Pinballz on Dec 6th - 8th, a group of us local players have wondered which pins will be used in the competition.
            Being that we are pretty familiar with the condition of most of the pins, this will serve to reflect what players think of the chances of each pin being used in the competiton.</p>
            <p>The list below is the roughtly 102 pins on the floor of Pinballz as well as some of the rumored pins that are in storage or might arrive. Since the likelihood of a pin being used changes
            as the competition date grows near, due to mechanical failures from being played, the odds are influenced by recent picks by players. By using this site, you agree that this data 
            is not to be used for gambling, since that is probably not legal.</p>
            <p>The initial odds are based on knowledge of which pins are popular in competition. The odds are recalculated 30 minutes after someone makes a pick as a way of discouraging gaming of the odds system.</p>
            <p>Once you create an account, you will be granted a ticket of 1000 of "pinbucks" (a virtual valueless currency) that you can use
            to makes pick with. A day or two before the event, entries will be closed and the ticket with the most accurate entries wins the accolade of being best able to predict which pins successfully made
            it to competition. The calculation of the most accurate entry will be based on the odds of the pick at the time of the entry, so if you made a pick at 20:1, and the odds eventually changed to 5:1,
            you would get the payout at 20:1.</p>
            <p>There is an option to pick against a pin being used. The odds are much better that a pin will not be used so the theoretical payout for this would be lower, but this can be a way to 
            have a payout when you are more sure that a popular pin will not be used. There is a minimum pinbuck amount that can be used for "against" picks, which is 100 times the current "against" odds level.</p>
            <p>The odds are recalculated based on the pinbuck amounts for picks for and picks against, with enough picks for a pin causing it to rise on the odds board and more picks against causing it to lower.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset1"><h3>Last 5 picks</h3></div>
        </div>
        <div id="last5">
            <div class="row">
                <div id=1machine class="col-sm-6 col-xs-6"></div>
                <div id=1comment class="col-sm-6 col-xs-6"></div>
                <div class="col-sm-6 col-xs-6"><p id=1time class="text-right"></p></div>
                <div class="col-sm-6 col-xs-6"><p id=1user class="text-right"></p></div>
            </div>
            <div class="row">
                <div id=2machine class="col-sm-6 col-xs-6"></div>
                <div id=2comment class="col-sm-6 col-xs-6"></div>
                <div class="col-sm-6 col-xs-6"><p id=2time class="text-right"></p></div>
                <div class="col-sm-6 col-xs-6"><p id=2user class="text-right"></p></div>
            </div>
            <div class="row">
                <div id=3machine class="col-sm-6 col-xs-6"></div>
                <div id=3comment class="col-sm-6 col-xs-6"></div>
                <div class="col-sm-6 col-xs-6"><p id=3time class="text-right"></p></div>
                <div class="col-sm-6 col-xs-6"><p id=3user class="text-right"></p></div>
            </div>

            <div class="row">
                <div id=4machine class="col-sm-6 col-xs-6"></div>
                <div id=4comment class="col-sm-6 col-xs-6"></div>
                <div class="col-sm-6 col-xs-6"><p id=4time class="text-right"></p></div>
                <div class="col-sm-6 col-xs-6"><p id=4user class="text-right"></p></div>
            </div>

            <div class="row">
                <div id=5machine class="col-sm-6 col-xs-6"></div>
                <div id=5comment class="col-sm-6 col-xs-6"></div>
                <div class="col-sm-6 col-xs-6"><p id=5time class="text-right"></p></div>
                <div class="col-sm-6 col-xs-6"><p id=5user class="text-right"></p></div>
            </div>
        </div>
    </div>
    <div class="container">
        {% if user.is_authenticated %} 
        <div class="row">
            <div class="col-sm-8 offset1"><h3>Your tickets</h3></div>
        </div>
        <div class="row">
            <div class="col-sm-24">
                <div class="accordion" id="tickaccordion">
                {% for ticket in tickets %}
                    <div class="accordion-group">
                        <div class="accordion-header">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#tickaccordion" href="#collapse{{forloop.counter}}">
                            #{{ ticket.id }} with {{ ticket.value }} available
                            </a>
                        </div>
                        <div id="collapse{{forloop.counter}}" class="accordion-body collapse">
                            <div class="accordion-inner">
                                {% include "ticket.html" %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-xs-8">
            <h3>Odds Board</h3>
        </div>
    </div>
    <div class="row">
    <div class="col-md-12 col-sm-12">
    <table class="table table-hover">
        <tr>
            <th/>
            <th >Machine</th>
            <th >Odds</th>
            <th ># of picks (for/against)</th>
        </tr>
    
{% for machine in machines %}
    <tr >
        <td width=10%>
            <button type="button" data-toggle="modal" onClick="populate({{forloop.counter}}, {{machine.id}}, false);" data-target="#betmodal" class="btn btn-sm btn-primary">Pick</button><p>
        </td>
        <td width=50%><span id={{forloop.counter}}mach>{{ machine.name }}</span></td>
        <td width=10%><span id={{forloop.counter}}odds>{{machine.current_odds}}</span>:1</td>
        <td width=10%><span id={{forloop.coutner}}betcount>{{ machine.bet_count|add:machine.reverse_bet_count }} ({{machine.bet_count}} / {{machine.reverse_bet_count}})</span></td>
        <td width=20%>
            <button type="button" data-toggle="modal" onClick="populate({{forloop.counter}}, {{machine.id}}, true);" data-target="#betmodal" class="btn btn-default " >Pick against</button>
            <span style="display:none" id={{ forloop.counter }}rodds>{{ machine.current_reverse_odds }}</span>
        </td>
    </tr>
{% endfor %}
    </table>
    </div>
    </div>
</div>


    <div class="modal fade" id="betmodal" role="dialog" aria-labelledby="bet model label" aria-hidden="true">
        <div class="modal-dialog">
            <div id="betmodalcontent" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">What's your pick?</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-inline" id="betForm" method="post">
                        <input type="hidden" name="machid" value="">
                        <div class="row">
                            <div class="col-md-12 col-xs-8 ">
                            <select type="hidden" name="tickid" value="">
                            {% csrf_token %}
                            <p>
                            <span id="against">Against&nbsp;</span>
                            <b><span id="machname"></span></b>
                             at <b><span id="odds"></span>
                            <span id="rodds"></span></b> odds
                            </div>
                        </div>
                        <input type="hidden" value='off' name="position">
                        <div class="row">
                            <div class="col-md-8 col-xs-8 checkbox">
                            <label>
                                <input type="checkbox" checked="checked" name="position" id="position" onkeypress='calcpayout()' onChange='calcpayout()' onSelect='$("#rodds".hide())'>Bet for?
                            </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-xs-6">
                                <input type="number" onChange='calcpayout()' oninput='calcpayout()' onpaste='calcpayout()' onkeypress='calcpayout()' id="pinbucks" class="form-control" min="0" step="1" placeholder="# of pinbucks" name="value" data-bind="value:pinbucks" oldautocomplete="remove" autocomplete="off"/>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <!--<input type="text" class="form-control" placeholder="Comment" name="comment"/>-->
                                <textarea cols=50 rows=4 class="form-control" placeholder="Comment" name="comment"></textarea>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                    <div class="col-md-6 col-xs-8" id="payout">Potential payout is <span id="payoutval">0</span> pinbucks</div>
                    </div>
                    <div class="row">
                    <div id="error" class="alert alert-error">
                        <h5 class="alert-heading">Error</h4>
                        <span id=beterr class="alert"></span>
                    </div>
                    </div>
                    <span id="imgoverlay"></span>
                </div>
                <div class="modal-footer">
                    <button id="betcancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="betboom" type="button" class="btn btn-default">Boom</button>
                    <button id="betbutton" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
