<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
{% load humanize %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>
function processBet(data,i){
    var idx=i+1;
    $("#"+idx+"time").text(data.at_time);
    $("#"+idx+"comment").text(data.comment);
    if (data.position) {
        $("#"+idx+"machine").text(data.machine + " at " + data.at_odds + ":1");
    } else {
        $("#"+idx+"machine").text("Against " + data.machine + " at " + data.at_odds + ":1");
    }
    $("#"+idx+"user").text(data.user);
}

function process(data) {
    for (var idx=0; idx<data.bets.length; ++idx) {
        processBet(data.bets[idx],idx);
    }
}
function refreshbets() {
    $.getJSON("/last5/",function (data) { 
        process(data);
    }); 
}
window.setInterval(refreshbets,10000);
$(document).ready(refreshbets);
</script>
</head>
<body>
    <div class="row">
        <div class="span1 offset2">
        {% if user.is_authenticated %}
            <a href={% url 'django.contrib.auth.views.logout_then_login' %}>Log out</a>
        {% else %}
            <a href={% url 'django.contrib.auth.views.login' %}>Log in</a>
        {% endif %}
        </div>
        <div id="status" class="span-3">
        {% if user.is_authenticated %}
        Logged in as {{ user.username }}
        {% else %}
        <B>Not logged in</B>
        {% endif %}
         </div>
    </div>
    <div class="row">
        <div class="span8 offset1"><h3>Last 5 bets</h3></div>
    </div>
    <div class="row">
        <div class="span1"><h5>User</h5></div>
        <div class="span5"><h5>Bet</h5></div>
        <div class="span3"><h5>Time</h5></div>
        <div class="span6"><h5>Comment</h5></div>
    </div>
    <div id="last5">
    {% for bet in last5bets %}
    <div class="row">
        <div id={{forloop.counter}}user class="span1">{{ bet.user }}</div>
        {% include "bet.html" %}
    </div>
    {% endfor %}
    </div>
    {% for user in users %}
    <div class="row">
        <div class="span1">{{ user }}</div>
        <div class="span1">{{ user.total_bets }}</div>
        <div class="span1">{{ user.bet_count }}</div>
        <div class="span1">{{ user.reverse_bet_count }}</div>
    </div>
    {% for bet in user.bet_set.all %}
    <div class="row">
        <div class="span1"></div>
        {% include "bet.html" %}
    </div>
    {% endfor %}
    {% endfor %}
    <div class="row">
        <div class="span4 header">Machine</div>
        <div class="span2">Odds in tourney</div>
        <div class="span2">Bets for</div>
        <div class="span2">Odds not in tourney</div>
        <div class="span2">Bets against</div>
    </div>
{% for machine in machines %}
    <div class="row">
        <div class="span4">{{ machine.name }}</div>
        <div class="span2">{{ machine.current_odds }}:1</div>
        <div class="span2">{{ machine.bet_count}}</div>
        <div class="span2">{{ machine.current_reverse_odds }}:1</div>
        <div class="span2">{{ machine.reverse_bet_count}}</div>
        <div class="span2">{{ machine.odds_against}}:1</div>
        <!-- add pending -->
    </div>
{% endfor %}
</body>
</html>
